.errors {
  color: red;
  font-size: 18px;
}

.img {
  width: 25px;
  height: 25px;
  margin-left: 4px;
}

.center {
  display: flex;
  align-items: center;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 500px;
}

.popUpError {
  width: 565px !important;
}
